body {
  background: url(./images/background.jpg) no-repeat center center fixed;
  font-family: "MedievalSharp", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Centers content both horizontally and vertically */
  flex-direction: column;
}



h1,
h2 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  margin: 0;
}

button {
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button#reset {
  height: 40px;
  width: 100px;
  background-image: linear-gradient(to bottom right, rgb(0, 132, 255), white);
  font-size: 25px;
  margin-top: 12vh;
  margin-bottom: 20px;;
}

#play {
  font-size: 30px;
  padding: 5px 20px;
  background-image: linear-gradient(to bottom right, rgb(124, 15, 214), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  border: none;

}
#mute {
  font-size: 12px;
  width: 170px;
  height: 25px;
  background-image: linear-gradient(to bottom right, rgb(124, 15, 214), rgb(0, 0, 0));
  color: white;
  margin: 10px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.HUD {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  margin-bottom: 35vh;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 4px dotted rgb(46, 46, 46);
  font-size: 64px;
}

.sqr.win {
  background-color: #65c7ff;
  animation: winAnimation 0.5s ease-in-out;
}

body.flash {
  animation: flashBackground 0.5s ease-in-out;
}

@keyframes winAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
